
body{
	background-image: url("images/fond.jpg");
	padding-top: 45px;
	overflow-x: hidden;
	max-width:100%
}

img{
	max-width: 100%;
	height:auto;
}
nav li {
  display: inline;
  float: left:
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:   #046A38   ;
  position: fixed; 
  top: 0;
  left: 0; 
  font-family: Monospace;	
  width: 100%; 

}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

.active {
  background-color: #5686DA;
}


#bvn p{
	text-align:center;
}
li {
	font-size:15pt;
}
h1{
	text-align:center;
	font-size: 30pt;
	color: #2660AA;
}
h2{
	font-size: 20pt;
	color:#5686DA;
}
#pdg{
	text-align: center;
}
p{
	font-size: 15pt;
	text-align: justify;
}
#num {
	text-align: center;
}
#rouge{
	color: red;
}
.gif{
  display: block;
  width: 30%;
  margin: auto;

}
#bra{
	display:flex;
	padding-left:500px;
	line-height:1.3;
}	
#bha{
	display:flex;
}
.braimage{
	width:50%;
}
#ka{
  display:flex;
}

footer {
  display: flex;
  align-items: center;
  width: 100%; 

}

.footer-left {
  text-align: left;
	flex: 1 50px ;
}

.footer-center {
  text-align: center;
	flex: 1 ;
}

.footer-right {
  text-align: right;
  flex: 0;
}
video{
	display: block;
	margin: auto;
	align-items: center;
}

#largeurpar{
	width:200px;
}
#largeurpar1{
	width:500px;
	align-items:center;
}